@model BakedRaspberryPi.Models.AccessoriesCases

@{
    ViewBag.Title = "A La Mode your Pi";
}

<h2>Recommended Accessories</h2>
@Html.Partial("_accessories", Model.Accessories);

<h2>Crust for your Pi</h2>
@Html.Partial("_piCases", Model.Cases);

