@{
    ViewBag.Title = "About Baked Raspberry Pis";
}

<div class="jumbotron">
    <h1>Get Your Fresh Baked Raspberry Pis HERE!</h1>
    <p class="lead">Welcome to Baked Raspberry Pi's; your one stop shop to get a Pi that is plug and play. No need to assemble or download anything. Just Enjoy your Pi!</p>
</div>

@Html.ActionLink("START BAKING!", "Index", "Pi", routeValues: null, htmlAttributes: new { @class = "btn btn-danger btn-startBaking" })
