@{
    ViewBag.Title = "Contact The Chef de Pi-tisserie";
}

<div class="jumbotron">

    <h2>@ViewBag.Title</h2>

    <address>
        The Baker<br />
        16397 W Des Plaines Dr<br />
        Libertyville, IL 6048-1487<br />
        <abbr title="Phone">P:</abbr>
        847-596-0292
    </address>

    <address>
        <strong>Support:</strong>   <a href="https://github.com/jloiacano">Support@bakedraspberrypis.com</a><br />
        <strong>Marketing:</strong> <a href="https://github.com/jloiacano">Marketing@bakedraspberrypis.com</a>
    </address>

</div>