@model BakedRaspberryPi.Models.Cart

@{
    ViewBag.Title = "Baked Raspberry Pi's!";
}

<!--
<div class="jumbotron">
    <h1>Get Your Fresh Baked Raspberry Pi's HERE!</h1>
    <p class="lead">Welcome to Baked Raspberry Pi's; your one stop shop to get a Pi that is plug and play. No need to assemble or download anything. Just Enjoy your Pi!</p>
</div>
    -->
<div class="mainIndexImage"><img src="~/Images/freshBakedPies2.png"/></div>
<div class="row textOnBackground">
    <div class="col-md-4">
        <h2>Step 1: Pick your Pi</h2>
        <p>
            You have 3 to choose from:
            <ul>
                <li>Pi 3: The latest and fastest.</li>
                <li>Pi Zero: Could it get any smaller?</li>
                <li>Pi Model B-2: Built to last.</li>
            </ul>
        </p>

    </div>
    <div class="col-md-4">
        <h2>Step 2: Pick your OS</h2>
        <p>Many to Choose From! The popular choice for a HTPC (Home Theater Personal Computer) is OSMC. Want a standalone minicomputer with LINUX? Choose Debian, OpenElec or more...</p>

    </div>
    <div class="col-md-4">
        <h2>Step 3: Pick your case and accessories</h2>
        <p>Customize your Pi any way you like! The recommended accessories for your Pi and OS choice will show up here.</p>
    </div>
</div>
<div>
    @Html.ActionLink("START BAKING!", "Index", "Pi", routeValues: null, htmlAttributes: new { @class = "btn btn-danger btn-startBaking" })
</div>