@model BakedRaspberryPi.Models.AccessoriesCases

@{
    ViewBag.Title = "A La Mode your Pi";
    bool isAccessoryEdit = false;
    bool isCaseEdit = false;
    foreach (var accessory in Model.Accessories)
    {
        if (accessory.IsEdit == true)
        {
            isAccessoryEdit = true;
        }
    }

    foreach (var piCase in Model.Cases)
    {
        if (piCase.IsEdit == true)
        {
            isCaseEdit = true;
        }
    }

}

@using (Html.BeginForm())
{

<div class="stickyUnderNavBar">
    <input type="submit" class="btn btn-primary" value="Add this to your baked Pi" />
    <!--TODO make the button below add a null Pi to the current whole Pi-->
    <input type="submit" class="btn btn-default" value="No thank you. I don't want any Pi." />
</div>

    if (!isCaseEdit)
    {
        @Html.Partial("_accessories", Model.Accessories)
    }
    
    if (!isAccessoryEdit)
    {
        @Html.Partial("_piCases", Model.Cases)
    }
}
