@{
    ViewBag.Title = "ForgotPasswordSent";
}

<h2>ForgotPasswordSent</h2>

<p>
    We've sent you an email with instructions on resetting your password.
    @Html.ActionLink("Go to home page", "Index", "Home")
</p>

@section Scripts{
    <script type="text/javascript">
        $("document").ready(function () {
            window.setInterval(function () {
                window.location.href = "/";
            }, 3000);

        });
    </script>
}