
@{
    ViewBag.Title = "Password Recovery";
}

<h2>Recover your password</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>Enter the email address associated with your account, and we'll send you instructions for resetting your password</p>
    <div>
        <label for="email">Your Email Address</label>
        <input type="email" name="email" required />
    </div>
    <input type="submit" />
}
@Html.ActionLink("Sign In", "SignIn")


