
@{
    ViewBag.Title = "Password Recovery";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="col-sm-4 col-sm-offset-4 assembledPiPanel addTopMargin">
            <form class="form-horizontal">
                <div class="row">
                    <div class="padThat assembledPiPanelText">
                        <p>Enter the E-mail address that you signed up with, and we will send you an E-mail with instructions on how to reset your password.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-horizontal addBottomMargin">
                        <label class="control-label col-sm-3" for="email">Email:</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" name="email" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-danger btn-block">SEND ME THE RESET INSTRUCTIONS</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
}


