@{

    ViewBag.Title = "Register";

}
@if (ViewBag.Error != null)
{
    foreach (string s in (IEnumerable<string>)ViewBag.Error)
    {
        <div>Error: @s</div>
    }
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="col-sm-4 col-sm-offset-4 assembledPiPanel addTopMargin">
            <form class="form-horizontal">
                <div class="row">
                    <div class="form-group form-horizontal addBottomMargin">
                        <label class="control-label col-sm-3" for="email">Email:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="username" placeholder="you@youremailprovider.com" name="username">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-horizontal addBottomMargin">
                        <label class="control-label col-sm-3" for="pwd">Password:</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="form-control btn btn-danger signInButtons">Register and Sign In</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
}