@{
    ViewBag.Title = "Reset Password";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="col-sm-4 col-sm-offset-4 assembledPiPanel addTopMargin">
            <div class="row">
                <div>
                    <label class="control-label col-sm-12 text-left" for="newPassword">New Password:</label>
                </div>
            </div>
            <div class="row">
                <div class="addBottomMargin">
                    <div class="col-sm-12">
                        <input type="password" class="form-control" name="newPassword" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-danger btn-block">RESET IT</button>
                </div>
            </div>
        </div>
    </div>
}

