@{
    ViewBag.Title = "ResetPassword";
}

<h2>ResetPassword</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <label for="newPassword">New Password</label>
    <input type="password" name="newPassword" />
    <input type="submit" value="Reset" />
}

