html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url("../Images/raspberriesBackgroundDark.jpg");
    position: relative;
    min-height: 100%;
    padding-top: 50px;
}

.centerIt {
    margin: 0 auto;
}

.padThat {
    padding-left: 1em;
    padding-right: 1em;
}

.marginizeThat {
    margin-left: 1em;
    margin-right: 1em;
}

.widenIt {
    width: 100%;
}

.mainIndexImage {
    margin: auto;
}

.jumbotron {
    background-color: #d9534f;
    color: rgb(51, 51, 51);
    color: rgba(51, 51, 51, 1.0);
}

.assembledPiPanel {
    background-color: #d9534f;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1em;
}

.assembledPiPanelText {
    font-weight: 700;
}

.userDropDownList {
    background-color: dimgray;
}

.userDropDownListItem {
    background-color: dimgray;
    color: white;
    padding: 1em;
}

text {
    background-color: #ECA7A5;
    color: black;
}

    text:empty {
        background-color: #F5D2D1; /*#F5D2D1;*/
        color: black;
    }

    text:focus {
        background-color: #ECA7A5; /*#ECA7A5;*/
        color: black;
    }

.addTopMargin {
    margin-top: 2em;
}

.addBottomMargin {
    margin-bottom: 4em;
}

.signInButtons {
    border-color: #8B3532;
    background-color: #AE423F;
}

table {
    width: 100%;
    margin: 1em;
    border-radius: 1em;
}

table tr {
    margin-bottom: 1em;
}

.cartQuantitytableDisplay {
    display: inline-block;
}

.editText {
    color: black;
}

address {
    color: inherit;
}

    address a:link {
        color: inherit;
        text-decoration: inherit;
    }

    address a:hover {
        cursor: help;
    }

    address a:visited {
        color: inherit;
        text-decoration: inherit;
    }

.textOnBackground {
    color: white;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2em;
    padding-left: 1em;
    color: dimgray;
}

    footer a:link {
        color: inherit;
        text-decoration: inherit;
    }

    footer a:hover {
        cursor: url(../Images/raspberryPiSliceCursor.png) 26 20, auto;
    }

    footer a:visited {
        color: inherit;
        text-decoration: inherit;
    }

.productImage {
    width: 30em;
    display: inline-block;
}

.productText {
    display: inline-block;
}

.btn-startBaking {
    width: 100%;
}